[alias]
    br      = branch
    ci      = commit
    co      = checkout
    cpick   = cherry-pick
    diffn   = diff --name-only
    diffss  = diff --shortstat
    hist    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    pp      = pull --prune
    st      = status

[core]
    editor  = vim
[user]
	email   = stygian.stevedore@gmail.com
	name    = Travis-Taylor
[init]
	defaultBranch = main
[core]
    editor = vim
    excludesfile = /home/ttaylor/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	colorMoved = zebra
[fetch]
	prune = true
[pull]
	rebase = true
